@import "@/styles/_variables.scss";

.logo {

  &__container {
    position: static;
    left: 0;
    top: 0;

    width: 44px;
    height: 32px;

    background-repeat: no-repeat;
    background-image: url("/assets/logo__small_25years.png");
    background-size: contain;




    display: flex;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    &__container {
      width: 134px;
      height: 34px;

      background-image: url("/assets/logo_large_25years@2x.png");
    }
  }
}
