// components/atoms/Text/Text.module.scss

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$font-sizes: (
  large: 36px,
  xlarge: 24px,
  medium: 22px,
  regular: 20px,
  small: 18px,
  xsmall: 15px,
  tiny: 14px,
  micro: 12px
);

$font-weights: (
  tiny: 300,
  regular: 400,
  bold: 800
);

$colors: (
  primary: rgba(0, 0, 0, 0.9),
  secondary: rgba(0, 0, 0, 0.55),
  success: #00A650,
  active: #0056b3
);

// Estilos para el componente Text
.text {
  font-family: $primary-font;
  font-size: map-get($font-sizes, regular);  // Tamaño por defecto
  font-weight: map-get($font-weights, regular);
  color: map-get($colors, primary); // Default color

  // Media query para pantallas pequeñas
  @media (max-width: 600px) {
    font-size: map-get($font-sizes, xsmall); // Tamaño más pequeño
  }

  // Media query para pantallas medianas
  @media (max-width: 900px) {
    font-size: map-get($font-sizes, small); // Tamaño intermedio
  }
}

// Clases para font-family
.primary-font {
  font-family: $primary-font;
}

.secondary-font {
  font-family: $secondary-font;
}

// Clases para font-size
.large {
  font-size: map-get($font-sizes, large);
}

.xlarge {
  font-size: map-get($font-sizes, xlarge);
}

.medium {
  font-size: map-get($font-sizes, medium);
}

.regular {
  font-size: map-get($font-sizes, regular);
}

.small {
  font-size: map-get($font-sizes, small);
}

.xsmall {
  font-size: map-get($font-sizes, xsmall);
}

.tiny {
  font-size: map-get($font-sizes, tiny);
}

.micro {
  font-size: map-get($font-sizes, micro);
}

// Clases para font-weight
.tiny-weight {
  font-weight: map-get($font-weights, tiny);
}

.regular-weight {
  font-weight: map-get($font-weights, regular);
}

.bold-weight {
  font-weight: map-get($font-weights, bold);
}

// Clases para color (modificar para aceptar dinámicamente el color)
.text {
  &.primary-color {
    color: map-get($colors, primary);
  }

  &.secondary-color {
    color: map-get($colors, secondary);
  }

  &.success-color {
    color: map-get($colors, success);
  }
  &.active-color {
    color: map-get($colors, active);
  }

  // Clase para el texto tachado
  &.strikethrough {
    text-decoration: line-through;
  }
}
