@import "@/styles/_variables.scss";
@import "@/styles/fonts.scss";

.title {
  @include font-styles($primary-font, regular, tiny, primary);
}

.productCard {
  display: grid;
  grid-template-columns: 166px 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  border-bottom: 1.5px solid $color-background-primary;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
}

.productImage {
  width: 160px;
  height: 160px;
}

.productInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
}

.price__container {
  display: flex;
  align-items: center;
  gap: $spacing-8;
}

.productName__container {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.productName {
  font-weight: bold;
  font-size: 18px;
}

.productPrice {
  @include font-styles($primary-font, xlarge, regular, primary);
}

@media screen and (min-width: 768px) {
  .productImage {
    width: 100%;
    height: 250px;
  }

  .productInfo {

    height: 100%;
    padding-top: $spacing-30;
    display: flex;
    flex-direction: column;
    gap: $spacing-25;
 
  }

  .productCard {
    padding: $spacing-12;
    grid-template-columns: 259px 1fr;

    padding-bottom: $spacing-20;
    gap: $spacing-24;
  }
}
