/* src/styles/components/Input.module.css */

.input__container {
  /* 1. Posicionamiento */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 910;

  /* 2. Caja de modelo */
  width: 100%;
  height: 100%;
  overflow: visible;

  /* 3. Visualización */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 4. Efectos visuales */
  will-change: left;
  transition: left 0.15s ease-out;
}

.input__container label {
  /* 1. Tipografía */
  display: block;
  font-size: 1rem;
}

.input__field {
  /* 1. Posicionamiento */
  position: relative;

  /* 2. Caja de modelo */
  width: 100%;
  height: 40px;
  padding: 10px 60px 10px 15px; /* padding ajustado: top, right, bottom, left */
  margin: 0;
  border: none;

  /* 3. Tipografía */
  font-size: 1rem;

  /* 4. Efectos visuales */
  transition: border-color 0.3s ease;
}

.input__field:focus {
  /* 4. Color y fondo */
  border-style: solid;
  border-color: #3483fa;
  border-width: 1.5px;
}
