@import "@/styles/_variables.scss";

.breadcrumbs {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: $color-text-secondary;
  padding: 0 $spacing-12;
}

.breadcrumbs__container {
  display: flex;
  gap: $spacing-4;
  width: 100%;
}

.mainButton {
  border: none;
}

.step__container {
  display: flex;
  gap: 8px;
}

.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.step {
  display: inline;
}

.separator {
  margin: 0 8px;
}

.step a {
  text-decoration: none;
  color: #0070f3;
}

.step a:hover {
  text-decoration: underline;
}

.step span {
  color: gray;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .breadcrumbs__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $spacing-4;
  }

  .breadcrumbs ol {
    flex-wrap: nowrap;
  }

  .step:not(:first-child) {
    display: none;
  }

  .breadcrumbs__container .step__container:first-child {
    display: flex;
  }

  .separator {
    display: none;
  }
}
