@import "@/styles/_variables.scss";  

.search-bar {
  /* 1. Posicionamiento */
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 1018px;
  overflow: hidden;
  background-color: $color-background-secondary;  
  position: relative;

  /* 2. Caja de modelo */
  height: 40px;  
  overflow: visible;

  /* 3. Efectos visuales */
  box-shadow: $box-shadow-default;

  /* 4. Borde */
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);

  /* 5. Establecer índice de apilamiento */
  z-index: $z-index-background;


}

.search-bar__icon-container {
  /* 1. Posicionamiento */
  position: relative;

  /* 2. Tamaño */
  height: 21px;  // Reemplazar por variable de espaciado si corresponde
}
